+S:CONFIG_ARM=y
+S:CONFIG_TARGET_WIESMANN=y
CONFIG_OF_CONTROL=y
CONFIG_DEFAULT_DEVICE_TREE="wiesmann_dnx"
CONFIG_SKIP_LOWLEVEL_INIT=n
CONFIG_CADENCE_QSPI=n
CONFIG_MMC=y
CONFIG_ENV_SIZE=2048
CONFIG_BOOTDELAY=2
CONFIG_MMC_DNX_BOOT=y
CONFIG_CMD_EXT4=y
